# Firebase config (from Firebase Console > Project Settings > General > Your apps)
VITE_FIREBASE_API_KEY=AIzaSyDNYGpJkErb_BRi9X_LRCQQLLizPTQG8ew
VITE_FIREBASE_AUTH_DOMAIN=smart-pocket-fab63.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-pocket-fab63
VITE_FIREBASE_STORAGE_BUCKET=smart-pocket-fab63.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=731586146147
VITE_FIREBASE_APP_ID=1:731586146147:web:9cdb8de7c0e00fe54d6d56
